@import "../../styles/variables";
@import "../../styles/mixins";
@import "tailwindcss";

.mainDashboard {
    width: 100%;

    margin: 0 auto;
    padding: 20px;
    background-color: $color-background;
    border-radius: $border-radius;
    border: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    @include transition(box-shadow);
}
.taskBoard {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: $color-dark-background;
    border-radius: $border-radius;
    border: 0px;

    @include transition(box-shadow);
}

.mainDashboard h2 {
    font-size: 1,5em;
    margin-bottom: 20px;

    color: $color-primary;
}

.mainDashboard ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mainDashboard li {
    margin-bottom: 8px;
    font-size: 1em;
    display: flex;
    border-color: #02153a;
    border-radius: 8px;
    background-color: #dadbdd;
    color: #232323;
    box-sizing: border-box;
    box-shadow: #232323;
    text-align: right;
    align-items: center;
    justify-content: left;

}

.mainDashboard li:hover {
    box-shadow: #555 4px 4px 12px 0px;
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.mainDashboard textarea {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    background-color: $color-background;
}

.mainDashboard input[type="date"] {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    background-color: $color-background;
}

.mainDashboard select {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    background-color: $color-background;
}

.mainDashboard select option {
    background-color: #ffffff;
    color: #02153a;
}

.mainDashboard button {
    padding: 6px 12px;
    background-color: #e21616;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    font-style: normal;
}

.mainDashboard button:hover {
    background-color: #b91c1c;
}

.mainDashboard button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.mainDashboard button:disabled:hover {
    background-color: #ccc;
}
