@import "../../styles/variables";
@import "../../styles/mixins";
@import "tailwindcss";

.sidebar {
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin: 0 auto;
    padding: 20px;
    background-color: $color-dark-background;
   
    @include transition(box-shadow);
    & h2 {
        font-size: 1.5em;
        margin-bottom: 20px;
        color: $color-primary;

    
    }
}

.logo {
    margin-bottom: 20px;
    width: 100%;
    max-width: 250px;
    margin: 5 auto;
    padding: 20px;
    background-color: $color-background;
    border-radius: $border-radius;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    @include transition(box-shadow);

}
.navigationBar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;

    // border-right: 1px solid $color-primary;
    color: $color-primary;
    text-decoration: none;
    border-radius: 8px;
    background-color: $color-background;
    box-sizing: border-box;
    @include transition(background-color);

    // & :hover {
    //     box-shadow: #555 4px 4px 12px 0px;
    //     transform: scale(1.02);
    //     transition: all 0.3s ease;
    // }
    

}
.link {
    display: flex;
    padding: 16px;

    color: $color-primary;
    text-decoration: none;
    border-radius: 8px;
    background-color: $color-background;
    @include transition(background-color);

    }

.link:hover {
    background-color: $color-primary;
    color: azure;
    & :hover {
        box-shadow: #555 4px 4px 12px 0px;
        transform: scale(1.02);
        transition: all 0.3s ease;
    }

}   

.linkActive {
    display: flex;
    padding: 16px;
    border-radius: 8px;
    background-color: $color-primary;
    color: azure;
    & :hover {
        box-shadow: #555 4px 4px 12px 0px;
        transform: scale(1.02);
        transition: all 0.3s ease;
    }
}