@import "../../styles/variables";
@import "../../styles/mixins";

.sidebar {
    width: 100%;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: $color-background;
    border-radius: $border-radius;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    @include transition(box-shadow);
    & h2 {
        font-size: 1.5em;
        margin-bottom: 20px;
        color: $color-primary;

    
    }
}

.link {
    display: flex;
    padding: 8px 12px;
    color: $color-primary;
    text-decoration: none;
    border-radius: $border-radius;
    @include transition(background-color);

    & :hover {
        background-color: gray;
        color: $color-white;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    }
}