@import "../../styles/variables";
@import "../../styles/mixins";
@import "tailwindcss";

.header {
    width: 100%;
    height: 200px;

    padding: 30px;
    background-color: $color-primary;
    color: #fff;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    @include transition(box-shadow);    
}