@import "tailwindcss";

/* .board li{
  margin-bottom: 8px;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .board button {
  padding: 6px 12px;
  background-color: z#e21616;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
}

.board button:hover {
  background-color: #c11212;
}

.board input {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
  background-color: #02153a;
}

.board textarea {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
  background-color: #02153a;
}

.board select {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
  background-color: #02153a;
}
 board select option {
  background-color: #ffffff;
  color: #02153a;
} 

.board li {
  
  height: 40px;
  width: 100%;
  margin-bottom: 8px;
  padding: 10px;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-color: #02153a;
  border-radius: 8px;
  background-color: #dadbdd;
  color: #232323; 
  box-sizing: border-box;
  box-shadow: #232323;

} 
li:hover {
  box-shadow: #555 4px 4px 12px 0px;
  transform: scale(1.02);
  transition: all 0.3s ease;
}

ul {
  list-style-type: none;
  padding: 0;
}

li button {
  padding: 6px 12px;
  background-color: #e21616;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
}

.board input::placeholder {
  color: #ffffff, 0.7;
}
.board h3 {
  margin-bottom: 12px;
  font-size: 1.2em;
  color: #02153a;
}
/* .board {
  width: 100vwar(--card-width, 250px);
  padding: 16px;
  border: 1px solid #ddd;
  box-shadow: #333 2px 2px 6px 0px; 
  border-radius: 10px;
  color: #333;
  background-color: #ffffff;
  margin-bottom: 16px;
  
  
}

.board h3 {
  margin-top: 0;
  font-size: 1em;
  margin-bottom: 8px;
}

.board img {
  max-width: 350px;
  height: auto;
  
  margin-bottom: 8px;


}
.board p {
  margin: 4px 0;
  font-size: 0.9em;
  line-height: 1.4;
  font-style: italic;
}

.board p1 {
  margin: 4px 0;
  font-size: 0.9em;
  line-height: 1.4;
  font-weight: bold;
  color: #e21616;
}

.board:hover {
  box-shadow: #555 4px 4px 12px 0px;
  transform: scale(1.05);
  transition: all 0.3s ease;
} */ 