$color-primary: #02153A;
$color-primary-dark: #000000;
$color-background: #cfcaca;
$color-dark-background: #8e8e8e;
$color-white: #fff;

$font-family-base: "Open Sans", sans-serif;

$border-radius: 12px;
$spacing: 16px;