$color-primary: rgb(2, 21, 58);
$color-primary-dark: #000000;
$color-background: #cfcaca;
$color-dark-background: #024a70;
$color-white: #fff;

$font-family-base: "Open Sans", sans-serif;

$border-radius: 12px;
$spacing: 16px;